# AWS Configuration
AWS_ACCOUNT_ID=your-account-id
DEFAULT_AWS_REGION=your-aws-region

# OpenAI Configuration  
#OPENAI_API_KEY=<set-for-local-dev-only>
OPENAI_API_KEY_SECRET_ARN=arn:aws:secretsmanager:<your-region>:<your-account-id>:secret:<your-secret-name>-xxxx

# Project Configuration
PROJECT_NAME=twin